<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="pl">
	<head>
		<title>ELFSharp</title>
		<link rel="stylesheet" href="css/common.css" type="text/css" />
		<link rel="stylesheet" href="css/prism.css" type="text/css" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="elfsharp elf csharp .net mono" />
		<meta name="google-site-verification" content="C3iCr7AM22TZNB1xvKezwgmczfzVK4qdk7AzXKYBS84" />
		<script type="text/javascript" src="scripts/prism.js"></script>
	</head>
	<body>
		<div id="spacer">&nbsp;</div>
		<div id="contents">
          @RenderBody()
		</div>
		<div id="menu">
            @Html.Partial("menu")
		</div>
		<div id="footer">
            @Html.Partial("footer")
		</div>
	</body>
</html>
