			<h1>Contributors</h1>
			<p>
				Here is the list of contributors (in order of the first contribution):
				<ul>
					<li>Konrad Kruczyński</li>
					<li>Piotr Zierhoffer</li>
					<li>Łukasz Kucharski</li>
					<li>Bastian Eicher</li>
					<li>Cameron</li>
					<li>Fox</li>
                    <li>Frederik Carlier</li>
                    <li>Everett Maus</li>
					<li>Reuben Olinsky</li>
					<li>Connor Christie</li> 
					<li>Ulysses Wu</li>
					<li>Filip Navara</li>
					<li>Dedmen Miller</li>
					<li>Jerker Olofsson</li>
					<li>Murat Ocaktürk</li>
					<li>Grivus</li>
					<li>Alex E.</li>
					<li>Pavel Vorozheykin</li>
				</ul>
			</p>