			<h1>Download</h1>
			<h2>NuGet release</h2>
			<p>
				The ELFSharp library is available on <a href="https://www.nuget.org/packages/ELFSharp/">NuGet</a>.			</p>
			<h2>Source code</h2>
			<p>
				The source code is available on <a href="https://github.com/konrad-kruczynski/elfsharp">GitHub</a>.
			</p>